<div class="flex items-center justify-center min-h-screen flex-col bg-gray-300 ">
  <div class="text-center my-4 md:block hidden">
    <h1 class="text-4xl font-bold uppercase">{{title}}</h1>
  </div>
  <div class="flex flex-col w-96 gap-4 bg-gray-950 rounded-xl p-4 h-[100vh] md:h-auto shadow-2xl ">
    <div class="md:flex-none md:h-[120px] flex-1 justify-between rounded-xl overflow-x-hidden px-4 py-6 border text-2xl text-gray-100 border-gray-700 flex items-end flex-col">
      <p class="text-xs">{{history.join(' ')}}</p>
      {{displayNumber}}
    </div>
    <div class="flex justify-end text-xs text-gray-500">Made with ❤️ by Elvio</div>
    <div class="grid grid-cols-4 gap-3">
      <app-calculator-button (click)="clear()" class="col-span-2" label="AC"></app-calculator-button>
      <app-calculator-button (click)="pressKey('c')" variant="yellow" label="C"></app-calculator-button>
      <app-calculator-button (click)="pressKey('/')" variant="yellow" label="/"></app-calculator-button>
      <app-calculator-button (click)="pressKey('7')" label="7"></app-calculator-button>
      <app-calculator-button (click)="pressKey('8')" label="8"></app-calculator-button>
      <app-calculator-button (click)="pressKey('9')" label="9"></app-calculator-button>
      <app-calculator-button (click)="pressKey('*')" variant="yellow" label="X"></app-calculator-button>
      <app-calculator-button (click)="pressKey('4')" label="4"></app-calculator-button>
      <app-calculator-button (click)="pressKey('5')" label="5"></app-calculator-button>
      <app-calculator-button (click)="pressKey('6')" label="6"></app-calculator-button>
      <app-calculator-button (click)="pressKey('-')" variant="yellow" label="-"></app-calculator-button>
      <app-calculator-button (click)="pressKey('3')" label="3"></app-calculator-button>
      <app-calculator-button (click)="pressKey('2')" label="2"></app-calculator-button>
      <app-calculator-button (click)="pressKey('1')" label="1"></app-calculator-button>
      <app-calculator-button (click)="pressKey('+')" variant="yellow" label="+"></app-calculator-button>
      <app-calculator-button (click)="pressKey('0')" class="col-start-1 col-end-3" label="0"></app-calculator-button>
      <app-calculator-button (click)="pressKey('.')" variant="yellow" label="."></app-calculator-button>
      <app-calculator-button (click)="pressKey('=')" variant="yellow" label="="></app-calculator-button>
    </div>
  </div>
</div>
