<div class="flex items-center justify-center min-h-screen flex-col ">
  <div class="text-center my-4">
    <h1 class="text-4xl font-bold uppercase">{{title}}</h1>
  </div>
  <div class="flex flex-col w-96 gap-4 bg-gray-950 rounded-xl p-2">
    <div class="rounded-xl px-4 py-6 border text-2xl text-gray-100 border-gray-700 flex items-end flex-col">
      <p class="text-xs">{{history.join(' ')}}</p>
      {{displayNumber}}
    </div>
    <div class="grid grid-cols-4 gap-4">
      <app-calculator-button (click)="clear()" class="col-span-3" label="C"></app-calculator-button>
      <app-calculator-button (click)="pressKey('/')" label="/"></app-calculator-button>
      <app-calculator-button (click)="pressKey('7')" label="7"></app-calculator-button>
      <app-calculator-button (click)="pressKey('8')" label="8"></app-calculator-button>
      <app-calculator-button (click)="pressKey('9')" label="9"></app-calculator-button>
      <app-calculator-button (click)="pressKey('*')" label="X"></app-calculator-button>
      <app-calculator-button (click)="pressKey('4')" label="4"></app-calculator-button>
      <app-calculator-button (click)="pressKey('5')" label="5"></app-calculator-button>
      <app-calculator-button (click)="pressKey('6')" label="6"></app-calculator-button>
      <app-calculator-button (click)="pressKey('-')" label="-"></app-calculator-button>
      <app-calculator-button (click)="pressKey('3')" label="3"></app-calculator-button>
      <app-calculator-button (click)="pressKey('2')" label="2"></app-calculator-button>
      <app-calculator-button (click)="pressKey('1')" label="1"></app-calculator-button>
      <app-calculator-button (click)="pressKey('+')" label="+"></app-calculator-button>
      <app-calculator-button (click)="pressKey('0')" class="col-start-1 col-end-3" label="0"></app-calculator-button>
      <app-calculator-button (click)="pressKey('.')" label="."></app-calculator-button>
      <app-calculator-button (click)="pressKey('=')" label="="></app-calculator-button>
    </div>
  </div>
</div>
